extends ./blank.jade

block append head
  link(href='stylesheets/blank.css', rel='stylesheet', type='text/css')
block container
 .wrapper.container
      .ad-in.top_head
         .grid
            .col-md-3.ad-in
                  h5 Teresa 
                  img(src='images/teresa.jpg', alt='')
                  p Teresa is a coder
            .col-md-3.ad-in
                  h5 Jo-anne
                  img(src='images/joanne.jpg', alt='')
                  p Jo-anne is a developer working in the financial industry. She is here to learn more about the UN and open-source technologies. She loves playing the guitar and the piano.
            .col-md-3.ad-in
                  h5 Cristian
                  img(src='images/christian.jpg', alt='')
                  p Cristian is a passionate psychologist working in charities and private practice. He wants to apply research in order to develop a reliable framework for risk-prevention and community development.
            .col-md-3.ad-in
                  h5 Kevin
                  img(src='images/kevin.jpg', alt='')
                  p Kevin is a coder
          .clearfix
      .ad-in
        p We would also like to thank Richard, Rayla and Harsimran for their contribution.

      .description
        h3 HOW WE STARTED
          p One day, in the Rainmaking Loft at 1 St. Katherine's Way, London, 7 strangers and not-so-strangers formed a team during a hackathon aimed at using digital innovation to help the public engage better with the UN. This idea inspired us to create a platform to help the public gauge how the UN is doing.
