extends ./blank.jade


block container
  .team
     h3 THE TEAM
     .md-grid
        .col-md-3.ad-in
              h5 Rayla 
              p Rayla is a lawyer.
        .col-md-3.ad-in
              h5 Jo-Anne
              p Jo-Anne is a coder
        .col-md-3.ad-in
              h5 Teresa
              p Teresa is a coder
        .col-md-3.ad-in
              h5 Richard
              p Richard
        .col-md-3.ad-in
              h5 Cristian
              p 
        .col-md-3.ad-in
              h5 Harsimran
              p Harsimran
        .col-md-3.ad-in
              h5 Kevin
              p Kevin is a coder
  .started
     h3 H
     
