extends ./blank.jade

block append head
  link(href='stylesheets/blank.css', rel='stylesheet', type='text/css')
block container
 .wrapper 
   .section.top_head
     h3 THE TEAM
     .grid
        .col-md-3.ad-in
              h5 Rayla 
              p Rayla is a lawyer.
        .col-md-3.ad-in
              h5 Jo-Anne
              p Jo-Anne is a coder
        .col-md-3.ad-in
              h5 Teresa
              p Teresa is a coder
        .col-md-3.ad-in
              h5 Richard
              p Richard
     .grid
        .col-md-3.ad-in
              h5 Cristian
              p 
        .col-md-3.ad-in
              h5 Harsimran
              p Harsimran
        .col-md-3.ad-in
              h5 Kevin
              p Kevin is a coder
        .col-md-3.ad-in
     .clearfix
 .wrapper
   .section 
     h3 HOW WE STARTED
     .col-md.ad-in
       p One day, in the Rainmaking Loft at 1 St. Katherine's Way, London, 7 strangers and not-so-strangers formed a team during a hackathon aimed at   
