extends ./blank.jade

block append head
	link(rel='stylesheet', href='stylesheets/blank.css')
block container
	.top_head
		#container
		script(src='javascripts/intervaller.js')
	.section
		.col-md-3
			img(src='../images/nokiaphone.jpg')
		.col-md-7
			h1 BE A RAINMAKER!
			p(style='white-space:pre;')
			h3 Text +44 113 320 1084 if you have experienced:
			p(style='white-space:pre;')
			.code.good
				ul
					li &nbsp;PEOPLE (GOOD - P)
					li &nbsp;THINGS (GOOD - T) 
					li &nbsp;OTHER (GOOD - O) 
			p(style='white-space:pre;')
			.code.bad
				ul
					li &nbsp; VIOLENCE / SEXUAL MISCOUNDUCT (BAD - V / BAD - S)
					li &nbsp; INSULT (BAD - N)
					li &nbsp; SUSPECTED CORRUPTION (BAD - C)
					li &nbsp; BROKEN PROMISE(BAD - P)
					li &nbsp; OTHER (BAD - O)
