extends ./layout.jade

block content_title
  p How do we know the UN is doing good?

block body
            .col-md-4.ad-in
              h5 The Problem
              p  A lack of information concerning UN interventions
              p  Fear to give truthful feedback from people receiving aid
              p  A removed system for monitoring and evalution of interventions
            .col-md-4.ad-in
              h5 The Solution
              p A standardized system for assessing the impact of UN interventions
              p An objective source of feedback from people receiving aid
              p Visualisations of feedback from different interventions
            .col-md-4.ad-in
              h5 The Result
              p Increased public confidence concerning UN interventions in the community
              p Better planning of future interventions
              p Data for comparative analysis of community well-being
